<html>
    <head>
        <title>muj blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Hej Magda!</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>magda to bardzo fajna dziewczyna ktora pochodzi ze sahrynia</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>magda chodzi do szkoly w zamosciu, chcialbym tez tam chodzic!</p>
        </div>
    </body>
</html>